
<br>

<div class="container">
<h2>Sign In</h2>
<form class="signIn" [formGroup]="signIn" (ngSubmit)="signInForm()">
    <div class="email">
      <label for="email">Email: </label>
      <input type="email" formControlName="email" class="form-control" id="email">
    </div>
    <div class="pass" >
      <label for="password">Password:</label>
      <input type="password" formControlName="password" class="form-control"  id="password">
    </div>
      <br>
    <button type="submit" >SIGN IN</button><br><br>
    <p>Not a User? <a routerLink="/register">Create an account</a> </p>
  </form>
</div>