p
{
    color: white;
}

h5
{
    color: white
}
.col{
    margin-top: 40px;
}

.card{
   max-width: 300px;
}

.card-img-top
{
    max-width: 300px;
    max-height: 300px;

}

.card-body{
    background-color: #1F2833;
}

.card-title{
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn-btn-primary{

    opacity: 10;
}

.bi.bi-trash{
    
    color: red;
}
