.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: aliceblue;
    
    
    
}

.profile-info
{
    display: absolute;
    width: 24px;
	text-align: center;
    padding: 0;
    width: 45%;
   

}

.Userinfo{
    text-align:center;
    align-items: center;
    
}

.btn-p
{
    text-align:left;
    border-radius: 30px;
    margin-bottom: 10px;
    background-color: #66FCF1;
    width: 75%;
   color: black;
   
   
    
}

.btn-primary{
   
    border-radius: 30px;
    margin-bottom: 10px;
    background-color: #66FCF1;
    width: 35%;
    color: black;
    text-align: left;

}
.bi-person-circle
{
    max-width: 50%;
    color: #66FCF1;
    background-color: white;
    border-radius: 190px;
        
}
p{
    text-align: center;
    height: 30px;
    padding-top: 12px;
}



