<nav>

</nav>
<br>

<div class="container">
<h2>Sign Up</h2>
<form class="Signup" [formGroup]="signUp" (ngSubmit)="signup()">

    <div class="email">
      <label for="email">Email: </label>
      <input type="email" formControlName="email" class="form-control" id="email" >
    </div>
    <div class="error" *ngIf="signUp.get('email')?.hasError('required')&& signUp.get('email')?.touched">Email is required</div>

    <div class="pass" >
      <label for="password">Password:</label>
      <input type="password" formControlName="password" class="form-control"  id="password" >
    </div>
     <div class="error" *ngIf="signUp.get('password')?.hasError('required')&& signUp.get('password')?.touched">Password is required </div>
     
    <div class="cpass" >
      <label for="password">Confirm Password:</label>
      <input type="password" formControlName="cpassword" class="form-control"  id="password" >
    </div>
    <div class="error" *ngIf="signUp.get('cpassword')?.hasError('required')&& signUp.get('cpassword')?.touched"> Confirm Password is required </div>
    <div class="error" *ngIf="signUp.hasError('passwordMismatch') && signUp.get('cpassword')?.touched">Password do not match</div>
    <br>
    <button type="submit" [disabled]="signUp.invalid" >SIGN UP</button><br>
    <p>Already have an accout?   <a routerLink="/login">Sign In</a> </p>
  </form>
</div>