<nav>

</nav>
<br>

<div class="container">
<h2>Sign Up</h2>
<form class="Signup" [formGroup]="signUp" (ngSubmit)="signup()">
    <div class="email">
      <label for="email">Email: </label>
      <input type="email" formControlName="email" class="form-control" id="email" >
    </div>
    <div class="pass" >
      <label for="password">Password:</label>
      <input type="password" formControlName="password" class="form-control"  id="password" >
    </div>
      <br>
    <button type="submit" >SIGN UP</button><br>
    <p>Already have an accout?   <a routerLink="/login">Sign In</a> </p>
  </form>
</div>