.searchBtn
{
    width: fit-content;
    padding-top: 20px;
    margin-left:25%;
    margin-right:25%;
}
.bi
{
    margin-left: 10px;
    padding-right: 10px;
}
.dropdown-toggle 
{
    background-color: transparent;
    color: #66FCF1;
}
.movie
{
    color: #66FCF1;
}
.bi-person-circle
{
    color: #10caf0;
    padding-right: 50px;
}