
p{
    color: white;
}

h5
{
    color: white
}
.col{
    margin-top: 40px;
}

.card{
   max-width: 295px;
   height: 300px;
   border-color: black;
   border-width: 1.5px;
   
}

// .card-img-top
// {
//     max-width: 300px;
//     max-height: 300px;

// }

.card-body{
    background-color: #1F2833;
    height: 6rem;
    text-align: left;
}
.card-img-top
{
    height: 350px;
    width: 100%;
}
// img{

// }
.card-title{
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.row{
    margin-left: 3%;
    margin-right: 3%;
}
