
<div class="row row-cols-1 row-cols-md-4 g-16"> 
    <div class="col">
      <div class="card">
        <img src="assets/download.jpeg" class="card-img-top" alt="movie picture">
        <div class="card-body">
          <h5 class="card-title">Scary Movie</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/thor.jpeg" class="card-img-top" alt="movie picture">
        <div class="card-body">
          <h5 class="card-title">Encanto</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/p_encanto_homeent_22359_4892ae1c.jpeg" class="card-img-top" alt="movie picture">
        <div class="card-body">
          <h5 class="card-title">Olympus Has Fallen</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/Scream 6.jpeg" class="card-img-top" alt="movie picture">
        <div class="card-body">
          <h5 class="card-title">Scream 6</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/download.jpeg" class="card-img-top" alt="movie picture">
        <div class="card-body">
          <h5 class="card-title">Scary Movie</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/download.jpeg" class="card-img-top" alt="movie picture">
        <div class="card-body">
          <h5 class="card-title">Scary Movie</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/download.jpeg" class="card-img-top" alt="movie picture">
        <div class="card-body">
          <h5 class="card-title">Scary Movie</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/download.jpeg" class="card-img-top" alt="movie picture">
        <div class="card-body">
          <h5 class="card-title">Scary Movie</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/download.jpeg" class="card-img-top" alt="movie picture">
        <div class="card-body">
          <h5 class="card-title">Scary Movie</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/download.jpeg" class="card-img-top" alt="movie picture">
        <div class="card-body">
          <h5 class="card-title">Scary Movie</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/download.jpeg" class="card-img-top" alt="movie picture">
        <div class="card-body">
          <h5 class="card-title">Scary Movie</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/download.jpeg" class="card-img-top" alt="movie picture">
        <div class="card-body">
          <h5 class="card-title">Scary Movie</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/download.jpeg" class="card-img-top" alt="movie picture">
        <div class="card-body">
          <h5 class="card-title">Scary Movie</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/download.jpeg" class="card-img-top" alt="movie picture" style=>
        <div class="card-body">
          <h5 class="card-title">Scary Movie</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/download.jpeg" class="card-img-top" alt="movie picture">
        <div class="card-body">
          <h5 class="card-title">Scary Movie</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/download.jpeg" class="card-img-top" alt="movie picture">
        <div class="card-body">
          <h5 class="card-title">Scary Movie</h5>
        </div>
      </div>
    </div>
  </div>
